@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/home.css" rel="stylesheet" />
<section class="hero-section">
    <div class="overlay"></div>
    <div class="hero-content">
        <h1>Product Management</h1>
        <p>
            Welcome to our official platform! We provide comprehensive product management solutions to help you efficiently organize and track your products.
            Use our powerful tools to add products, update their details, and monitor inventory with ease.
        </p>

        <a href="/Product" class="btn btn-primary mt-3">View Product List</a>

    </div>
</section>
